@import "@/styles/variables";
@import "@/styles/breakpoints";

.menu {
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: $color-text-accessibility;
  height: 8rem;
  border-bottom: 0.1rem solid $color-primary;
  background-color: $color-surface-base;

  @media screen and (max-width: $tablet) {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 3.2rem;
    justify-content: space-between;
  }

  @media screen and (min-width: $tablet) {
    border: 0;
  }

  &__link {
    color: transparent;
    background: linear-gradient(to right, $color-text-accessibility 0 50%, $color-primary 50% 100%);
    background-position: 0 0;
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    transition: background-position 0.3s ease;
    text-decoration: none;
    backface-visibility: hidden;

    &:hover {
      background-position: -100% 0;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
      align-items: center;
    }

    &:nth-child(2) {
      gap: 1.2rem;

      @media screen and (min-width: $tablet) {
        align-items: center;
      }
    }

    &--logo {
      flex-direction: row;
      align-items: center;
    }

    &--links {
      gap: 1.6rem;

      @media screen and (min-width: $tablet) {
        margin-left: 12rem;
        flex-direction: row;
        gap: 3.2rem;
      }
    }
  }

  &__brand {
    color: $color-text-secondary;
    font-weight: 500;
    font-size: 1.8rem;
    margin-left: 0.8rem;
  }

  &__bar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
    gap: 1.6rem;
    position: absolute;
    top: 7.9rem;
    left: 0;
    background: $color-surface-base;
    padding: 1.6rem 3.2rem;
    border-right: 0.1rem solid $color-primary;
    border-bottom: 0.1rem solid $color-primary;
    width: 25rem;
    transform: translateX(-25rem);
    transition: transform 0.5s;
    border-bottom-right-radius: 0.5rem;

    @media screen and (min-width: $tablet) {
      position: static;
      flex-direction: row;
      align-items: center;
      transform: translate(0);
      padding: 0;
      border: 0;
      background: none;
    }

    &--active {
      transform: translateX(0);
    }
  }
}
