@import "styles/variaveis";
@import "styles/breakpoints";

.menu {
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: $gray-500;
  height: 8rem;
  border-bottom: .1rem solid $vermelho;
  background-color: $base-white;

  @media screen and (max-width: $tablet) {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 3.2rem;
    justify-content: space-between;
  }

  @media screen and (min-width: $tablet) {
    border: 0;
  }

  a {
    color: transparent;
    background: linear-gradient(to right, $gray-500 0 50%, $vermelho 50% 100%);
    background-position: 0 0;
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    transition: background-position 0.3s ease;
    text-decoration: none;
    backface-visibility: hidden;

    &:hover {
      background-position: -100% 0;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
      align-items: center;
    }

    &:nth-child(2) {
      gap: 1.2rem;

      @media screen and (min-width: $tablet) {
        align-items: center;
      }
    }

    &--logo {
      flex-direction: row;
      align-items: center;
    }

    &--links {
      gap: 1.6rem;

      a:last-of-type {
        margin-bottom: 1.6rem;
      }

      @media screen and (min-width: $tablet) {
        margin-left: 12rem;
        flex-direction: row;
        gap: 3.2rem;

        a:last-of-type {
          margin-bottom: 0rem;
        }
      }

    }
  }

  &__marca {
    color: $gray;
    font-weight: 500;
    font-size: 1.8rem;
    margin-left: .8rem;
  }

  &__barra {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
    position: absolute;
    top: 7.9rem;
    left: 0;
    background: $base-white;
    padding: 1.6rem 3.2rem;
    border-right: .1rem solid $vermelho;
    border-bottom: .1rem solid $vermelho;
    width: 25rem;
    transform: translateX(-25rem);
    transition: transform .5s;
    border-bottom-right-radius: .5rem;

    @media screen and (min-width: $tablet) {
      position: static;
      flex-direction: row;
      align-items: center;
      transform: translate(0);
      padding: 0;
      border: 0;
      background: none;
    }

    &--ativo {
      transform: translateX(0);
    }
  }
}