/* Danger / Feedback Actions */
$color-primary: #8e2424;
$color-primary-50: #8e242480;
$color-primary-5: #8e24240d;
$color-primary-light-3: #c3191908;

/* Text & Typography */
$color-text-primary: #101828;
$color-text-secondary: #3a404e;
$color-text-accessibility: #667085;
$color-text-placeholder: #98a2b3;

/* Surfaces & Backgrounds */
$color-surface-base: #ffffff;
$color-surface-muted: #f9fafb;
$color-surface-alt: #eaecf0;
$color-surface-disabled: #d0d5dd;

/* Overlays */
$color-overlay-50: #10182880;

/* Neutrals (Raw values) */
$color-neutral-white: #ffffff;
$color-neutral-black-0: #ffffff00;
