$base-white: rgba(255, 255, 255, 1);
$gray: rgba(58, 64, 78, 1);
$gray-200: rgba(234, 236, 240, 1);
$gray-400: rgba(152, 162, 179, 1);
$gray-50: rgba(249, 250, 251, 1);
$gray-500: rgba(102, 112, 133, 1);
$gray-900: rgba(16, 24, 40, 1);
$gray-900-005: rgba(16, 24, 40, .5);
$vermelho: rgba(142, 36, 36, 1);
$vermelho-005: rgba(142, 36, 36, 0.05);
$vermelho-003: rgba(195, 25, 25, 0.03);
$white-alt: rgba(208, 213, 221, 1);